@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap');

.golos-family {
    font-family: "Golos Text", sans-serif;
}

.menu-lines {
    width: 30px;
    height: 5px;
    margin-bottom: 5px;
    background-color: white;
    z-index: 10;
    transition: all 300ms linear;
    border-radius: 10px;
    transform-origin: left;
    display: flex;
}

.z-5 {
    z-index: 5;

}

.mx-w-1244 {
    max-width: 1244px;
}

.mx-w-1240 {
    max-width: 1240px;
}

.section-1-bg {
    background-image: url(/assets/image/png/section-1-bg-img.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.nav-btn {
    border-radius: 50px;
    border-width: 1px;
    padding: 12px 24px 12px 24px;
    background: #FFFFFF1A;
    border: 1px solid #1D252D40;
    transition: all 200ms linear;
}

.nav-btn:hover {
    background-color: white;
}

.rotate40 {
    transform: rotate(40deg);
}

.rotate-45 {
    transform: rotate(-44deg);
}

.gap-24 {
    gap: 24px;
}

.ul-box {
    border-radius: 24px;
    padding: 12px 0 12px 0;
    background: #FFFFFF26;
    border: 1px solid #FFFFFF4D;
}

.nav-tabs-btn {
    border-radius: 24px;
    padding: 12px;
    transition: all 200ms linear;
    color: var(--color-black);
    font-weight: 400 !important;
}

.nav-tabs-btn:hover {
    background: #FFFFFFCC;
    font-weight: 500 !important;
}

.mx-w-238 {
    max-width: 238px;
}

.complete-btn {
    border-radius: 34px;
    border-width: 1px;
    padding: 8px 14px 8px 14px;
    background: #FFFFFF26;
    border: 1px solid #FFFFFF66;
    color: var(--color-white);
}

.complete-btn:hover {
    background: var(--color-blue);
    color: var(--color-white);
}

.mx-w-705 {
    max-width: 705px;
}

.heading-box {
    border-radius: 6px;
    gap: 10px;
    border: 1px solid #FFFFFF4D;
    padding: 8px 16px 8px 16px;
    background: #FFFFFF1A;
    max-width: 118px;
}

.mt-81 {
    margin-top: 81px;
}

.ecosystem-main-para {
    color: transparent;
    background-image: linear-gradient(03.15deg, #FFFFFF 30.4%, #314FD7 115.77%);
    -webkit-background-clip: text;
}

.pt-62 {
    padding-top: 62px;
}

/* ------------line-height------------- */
.lh-24 {
    line-height: 24px;
}

.lh-23 {
    line-height: 23px;
}

.lh-22 {
    line-height: 22.72px;
}

.lh-88 {
    line-height: 88px;
}

.lh-30 {
    line-height: 30px;
}

.lh-19 {
    line-height: 19px;
}

.lh-54 {
    line-height: 54px;
}

/* ------------line-height------------- */
.pt-88 {
    padding-top: 88px;
}

.footer-tags {
    color: var(--color-white);
    transition: all 200ms linear;
}

.footer-tags:hover {
    color: var(--color-blue);
}

.mt-20 {
    margin-top: 20px;
}

.pb-137 {
    padding-bottom: 137px;
}

.pl-50 {
    padding-left: 50px;
}

.ml-219 {
    margin-left: 219px;
}

.mr-146 {
    margin-right: 146px;
}

.email-box {
    max-width: 361px;
    border: 1px solid white;
    outline: none;
    padding: 16px 94px 16px 24px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    color: var(--dark-grey);
}

.input-btn {
    border: 1px solid white;
    padding: 16px 24px 16px 24px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.gap-32 {
    gap: 32px;
}

.footer-line {
    width: 100%;
    border: 1px solid #FFFFFF1A;
}

.mt-164 {
    margin-top: 164px;
}

.gap-12 {
    gap: 12px;
}

.easy-step-btn {
    max-width: 182px;
    border-radius: 34px;
    border-width: 1px;
    padding: 8px 14px 8px 14px;
    background: #FFFFFF99;
}

.mx-w-639 {
    max-width: 639px;
}

.slider-step {
    max-width: 81px;
    border-radius: 34px;
    border-width: 1px;
    padding: 8px 14px 8px 14px;
    background: var(--color-white);
    border: 1px solid white;
}

.mx-w-204 {
    max-width: 204px;
}

.slider-card {
    max-width: 236px;
    border: 1px solid #E9E6F7;
    border-radius: 8px;
    background: linear-gradient(180deg, #F2F0FE 0%, #F6F9FF 100%);
    padding: 24px 16px 24px 16px;
    border: 1px solid;
    border-image-source: linear-gradient(0.23deg, rgba(233, 230, 247, 0.5) 0.21%, rgba(129, 106, 235, 0.5) 99.81%);
}

.slider-card:hover {
    background: white;
}

.slider-card:hover .slider-step {
    background-color: black;
    color: white;
}

.ml-12 {
    margin-left: 12px;
}

.mx-w-515 {
    max-width: 515px;
}

.footer-bg {
    background-image: url(/assets/image/png/section-2-bg-img.png);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat
}

/* ------------------------------------------------ */
.free-trial-btn {
    border-radius: 50px;
    padding: 16px 24px 16px 24px;
    background-color: var(--color-black);
    color: var(--color-white);
    border: none;
}

.free-trial-btn:hover {
    background-color: var(--color-white);
    color: var(--color-black);
}

.bottom-399 {
    bottom: -399px;
}

.footer-stone-img {
    bottom: -59%;
    left: 26%;
}

.pb-300 {
    padding-bottom: 300px;
}

@media (max-width:991.98px) {

    .nav-link {
        display: flex !important;
        flex-direction: column;
        background: #00243C !important;
        width: 100%;
        min-height: 100vh;
        position: fixed;
        justify-content: center;
        bottom: 0;
        right: -100% !important;
        top: 0%;
        transition: all 300ms linear !important;
        z-index: 3;
        align-items: center;
    }

    .show-navbar {
        right: 0 !important;
    }

}