@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap');

.golos-family {
    font-family: "Golos Text", sans-serif;
}

.menu-lines {
    width: 30px;
    height: 5px;
    margin-bottom: 5px;
    background-color: white;
    z-index: 10;
    transition: all 300ms linear;
    border-radius: 10px;
    transform-origin: left;
    display: flex;
}

.z-5 {
    z-index: 5;

}

.mx-w-1244 {
    max-width: 1244px;
}

.bg-img-1 {
    background-image: url(/assets/image/png/section-1-bg-img.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.rotate40 {
    transform: rotate(40deg);
}

.rotate-45 {
    transform: rotate(-44deg);
}

.gap-24 {
    gap: 24px;
}

.ul-box {
    border-radius: 24px;
    padding: 12px 12px 12px 12px;
    background: #FFFFFF26;
    border: 1px solid #FFFFFF4D;
}

.nav-tabs-btn {
    border-radius: 24px;
    padding: 8px;
    transition: all 200ms linear;
    color: var(--color-black);
    font-weight: 400 !important;
}

.nav-tabs-btn:hover {
    background: #FFFFFFCC;
    font-weight: 500 !important;
}

/* ------------line-height------------- */
.lh-24 {
    line-height: 24px;
}

.lh-23 {
    line-height: 23px;
}

.lh-22 {
    line-height: 22.72px;
}

.lh-88 {
    line-height: 88px;
}

.lh-30 {
    line-height: 30px;
}

.lh-19 {
    line-height: 19px;
}

/* ------------line-height------------- */

@media (max-width:991.98px) {

    .nav-link {
        display: flex !important;
        flex-direction: column;
        background: #00243C !important;
        width: 100%;
        min-height: 100vh;
        position: fixed;
        justify-content: center;
        bottom: 0;
        right: -100% !important;
        top: 0%;
        transition: all 300ms linear !important;
        z-index: 3;
        align-items: center;
    }

    .show-navbar {
        right: 0 !important;
    }

}